@import 'normalize';
@import 'mq';
@import 'gradient';

// Colours
$gradients: (
  gradient-1: (#a8ff78, #78ffd6),
  gradient-2: (#8360c3, #2ebf91),
  gradient-3: (#c31432, #240b36),
  gradient-4: (#ee9ca7, #ffdde1),
  gradient-5: (#f12711, #f5af19),
  gradient-6: (#8a2387, #e94057, #f27121),
  gradient-7: (#bc4e9c, #f80759),
  gradient-8: (#000046, #1cb5e0)
);

// breakpoints
$breakpoints: (
  mobile:  320px,
  tablet:  740px,
  desktop: 980px,
  wide:    1300px
);

html {
  height: 100%;
}

body {
  font-family: "aktiv-grotesk-extended", sans-serif;

  -webkit-animation: BackgroundAnimation 30s ease infinite;
  -moz-animation: BackgroundAnimation 30s ease infinite;
  animation: BackgroundAnimation 30s ease infinite;

  @-webkit-keyframes BackgroundAnimation {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
  }
  @-moz-keyframes BackgroundAnimation {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
  }
  @keyframes BackgroundAnimation {
     0%{background-position:0% 50%}
     50%{background-position:100% 50%}
     100%{background-position:0% 50%}
  }

  height: 100%;
  margin: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  color: #fff;
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 1px;

  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  padding-bottom: 10px;
}

.genre {
  min-height: 20vw;
  width: 80vw;
  margin: 20px auto;

  display:flex;
  flex-direction:column;
  justify-content:center;

  font-size: 40px;
  line-height: 44px;
  font-weight: bold;
  text-align: center;
  text-transform: lowercase;

  @include mq($from: tablet) {
    font-size: 80px;
    line-height: 82px;
  }

  @include mq($from: desktop) {
    font-size: 120px;
    line-height: 120px;
  }

  @include mq($from: wide) {
    font-size: 200px;
    line-height: 180px;
  }

  color: #fff;
}

.actions {
  border-top: 1px solid #fff;
  padding-top: 20px;

  ul {
    list-style: none;
    margin: 0;
    padding:0;

    @include mq($from: tablet) {
      display: flex;
      justify-content: space-between;
    }

    li {
      flex: 1 1 0;
      color: #fff;

      margin-bottom: 1em;

      @include mq($from: tablet) {
        margin-right: 5%;
      }

      &:last-child {
        @include mq($from: tablet) {
          margin-right: 0;
        }
      }
    }

    a {
      display: block;
      box-sizing: border-box;
      height: 100%;
      width: 100%;

      color: #fff;
      text-decoration: none;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 1px;

      border: 1px solid #fff;
      padding: 1em;

      &:hover {
        background-color: #fff;
        color: #000;
      }
    }
  }
}

footer {
  min-height: 20px;
  margin-bottom: 10px;
}

@for $i from 1 through 8 {
  .gradient-#{$i} {
    $this-gradient: "gradient-#{$i}";
    @include linear-gradient(to right, map-get($gradients, $this-gradient));
    background-size: 300% 300%;
  }
}
