<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{ title }}</title>

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/bwe1rlc.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  {% set favicon_num = [1, 2, 3, 4, 5, 6, 7, 8] | random %}
  <link rel="icon" type="image/x-icon" href="/images/favicon-{{ favicon_num }}.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-{{ favicon_num }}-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-{{ favicon_num }}-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-{{ favicon_num }}-180x180.png">
</head>

<body class="gradient-{{ [1, 2, 3, 4, 5, 6, 7, 8] | random }}">
  <h1>Music Genre-ator – {{ title }}</h1>

  <div class="genre">{{ title }}: {{ description }}</div>

  <div class="actions">
    <ul>
      <li><a href="/">Generate another</a></li>
    </ul>
  </div>
</body>
</html>
