<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Music Genre-ator — Generate random music genres</title>
  <meta name="description" content="Generate random music genres">
  <meta name="author" content="Alex Torrance http://www.alextorrance.co.uk">

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/bwe1rlc.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Favicons -->
  {% set favicon_num = [1, 2, 3, 4, 5, 6, 7, 8] | random %}
  <link rel="icon" type="image/x-icon" href="/images/favicon-{{ favicon_num }}.ico">
  <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-{{ favicon_num }}-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-{{ favicon_num }}-16x16.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/images/favicon-{{ favicon_num }}-180x180.png">

  <script src="/scripts/main.js" defer></script>

  <meta property="og:title" content="Music Genre-ator — Generate random music genres">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ social_media_card }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@alex_tea" />
</head>

<body class="gradient-{{ [1, 2, 3, 4, 5, 6, 7, 8] | random }}">
  <h1>Music Genre-ator</h1>

  <div class="genre">{{ genre }}</div>

  <div class="actions">
    <ul>
      <li><a href="/">Generate another</a></li>
      <li><a href="/listen/{{ slug }}">Listen to this genre</a></li>
      <li><a href="/{{ slug }}" id="js-open-share">Share this genre</a></li>
      <li><a href="{{ bluesky_share_link }}" target="_blank">Post on Bluesky</a></li>
    </ul>

    <div class="share-pane">
      <div class="share-content">
        <textarea name="share-content" readonly>{{ share_content }}</textarea>

        <div class="share-actions">
          <button class="button" id="js-copy">Copy text</button>
          <button class="button" id="js-cancel-share">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
