<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Music Genre-ator</title>
  <meta name="description" content="Generate random music genres">
  <meta name="author" content="Alex Torrance http://www.alextorrance.co.uk">

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/bwe1rlc.css">
</head>

<body>
  <h1>Music Genre-ator</h1>

  <div class="genre">{{ genre }}</div>

  <div class="actions">
    <a href="/">Generate another</a>
  </div>

  <div class="share"></div>

</body>
</html>
