<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Music Genre-ator — Generate random music genres</title>
  <meta name="description" content="Generate random music genres">
  <meta name="author" content="Alex Torrance http://www.alextorrance.co.uk">

  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="https://use.typekit.net/bwe1rlc.css">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="Music Genre-ator — Generate random music genres">
  <meta property="og:type" content="website">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ social_media_card }}">
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:creator" content="@alex_tea" />
</head>

<body class="gradient-{{ [1, 2, 3, 4, 5, 6, 7, 8] | random }}">
  <h1>Music Genre-ator</h1>

  <div class="genre">{{ genre }}</div>

  <div class="actions">
    <ul>
      <li><a href="/">Generate another</a></li>
      <li><a href="/{{ slug }}">Get Permalink</a></li>
      <li><a href="{{ bluesky_share_link }}" target="_blank">Share on Bluesky</a></li>
    </ul>
  </div>
</body>
</html>
